.prepend-2.parch-box
  .span-8.prepend-1.append-1
    %h3 Sample Tracks
    %p
      This is a small selection of Crazy Judah's live tracks:
    %ul
      %li
        %a(href="/music/vasoline.mp3")
          %span.loud STONE TEMPLE PILOTS
          %strong Vasoline
      %li
        %a(href="/music/times_like_these.mp3")
          %span.loud FOO FIGHTERS
          %strong Times Like These
      %li
        %a(href="/music/highway_star.mp3")
          %span.loud DEEP PURPLE
          %strong Highway Star
    
  .span-8.append-1.last
    %h3 Live Music
    %p
      All of the songs were recorded live in one session with no
      overdubs. There are no effects used, only some EQ - as would happen in a
      live situation, with front-of-house mixing.
    %p
      These demos are a good indication of how Crazy Judah sounds onstage - perfect
      for pubs and clubs, corporate functions, open air events and themed parties.
