.prepend-2.parch-box
  .span-8.prepend-1.append-1
    %h3 Industrial Strength Rock
    %p Crazy Judah is a Sydney based band which plays rock covers with an uncompromising, hard-edged style that comes from years of professional experience.
    %p Crazy Judah's repertoire traces the history of rock: from the classic rock of Deep Purple, Bad Company, Pink Floyd and Santana, through the 80s big-hair rock of Bon Jovi and Van Halen. From the stadium rock of INXS and U2 and the grunge sounds of the Stone Temple Pilots and the Foo Fighters, to bands like Coldplay and Muse.
      
    %h3 Connect With Crazy Judah
    %ul.setlist
      %li.twitter
        %a(href="http://twitter.com/crazyjudah")
          Follow @crazyjudah on Twitter
      %li.facebook
        %a(href="http://www.facebook.com/pages/Crazy-Judah/126520996286")
          Become a fan of Crazy Judah on Facebook
    
  .span-8.append-1.last
    %h3 Who is Crazy Judah?
    %p Theodore Dehone Judah was a 19th century engineer who first proposed the radical notion of a transcontinental railway that would connect the east coast of the USA to the west. Thought by many to be a pioneer, he was nicknamed 'Crazy Judah' for his enthusiasm and single-mindedness.

    %h3 Last Gig
    %p
      %strong Manly Fisho's
      %strong 8pm, Saturday 18th July

    %h3 Next Gig
    %div
      %strong We'll announce this soon
    %div
      Follow Crazy Judah on
      %a(href="http://twitter.com/crazyjudah")
        Twitter
      or
      %a(href="http://www.facebook.com/pages/Crazy-Judah/126520996286")
        Facebook
      for updates
      