!!!
%html(lang="en")
  %head
    %title Rant-O-Mania!!!one!1!
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="content-language" content="en")
    %meta(author="Richard Heycock, Josh Price, James Sadler, Simon Swayne")
    %meta(name="description" content="What's fucking you off right now?")
    %meta(name="keywords" content="rant, fuck, shit, bastard, cunt")

    %link(href="/css/screen.css" media="screen" rel="stylesheet" type="text/css")

    %style
      :sass
        body
          background: #111
        .container
          background: #f11
        .header
          background: #111
          margin-bottom: 2em
          h1
            color: #999
            text-decoration: none
            font-weight: bold
            font-size: 500%
            padding: 0.5em 0

        .body
          .fuckoff
            margin: 1em
            h3
              color: #111
              font-size: 200%
              font-weight: bold
              span.chars
                float: right
                font-size: 140%
                color: #aaa
                margin: -1em 0 0 0 
            textarea.rant
              width: 99%
              height: 200px
              font-size: 200%
            input[name=rant]
              -moz-border-radius-bottomleft: 5px
              -moz-border-radius-topleft: 5px
              -moz-border-radius-bottomright: 5px
              -moz-border-radius-topright: 5px
              float: right
              background-image: #f11 url(http://s.twimg.com/a/1256674706/images/round-btn.gif)
              height: 32px
              width: 115px
              border: none
              font-weight: bold
              font-size: 16px
              color: #333
          ul.rants
            margin: 2px 0
            li
              list-style: none
              border: 1px solid #000
              padding: 5px
              margin: 2px 0
              background: #fff
              font-size: 200%
        .footer
          text-align: center
        li.twitter
          background: transparent url(images/twitter.gif) no-repeat scroll left center

  %body
    .container
      .header
        %h1 RANT-O-MANIA
      .body
        .fuckoff
          %h3
            - salutation = ["What's fucking you off right now?", "What the fucks up with you?", "Que?"]
            = salutation[rand(3)]
            %span.chars 1000
          %textarea.rant
          %input(type="submit" name="rant" value="Rant!")
        
          = yield
        
      .footer

