.prepend-2.parch-box
  .span-9.prepend-1
    %ul.setlist
      %li
        %strong NEVER TEAR US APART
        %span INXS
      %li
        %strong VASOLINE
        %span STONE TEMPLE PILOTS
      %li
        %strong MAGIC CARPET RIDE
        %span STEPPENWOLF
      %li
        %strong WOODSTOCK
        %span CROSBY, STILLS, NASH & YOUNG
      %li
        %strong CLOCKS
        %span COLDPLAY
      %li
        %strong FEEL LIKE MAKING LOVE
        %span BAD COMPANY
      %li
        %strong WISHING WELL
        %span FREE
      %li
        %strong VERTIGO
        %span U2
      %li
        %strong PERFECT STRANGERS
        %span DEEP PURPLE
      %li
        %strong FOREVER NOW
        %span COLD CHISEL
      %li
        %strong WITH A LITTLE HELP FROM MY FRIENDS
        %span COCKER
      %li
        %strong WHERE THE STREETS HAVE NO NAME
        %span U2
      %li
        %strong WITH OR WITHOUT YOU
        %span U2
      %li
        %strong HOLD YOUR HEAD UP
        %span ARGENT
      %li
        %strong MOST PEOPLE I KNOW
        %span BILLY THORPE
      %li
        %strong TAKE BACK THE CITY
        %span SNOW PATROL
      %li
        %strong COCHISE
        %span AUDIOSLAVE
      %li
        %strong SEX ON FIRE
        %span KINGS OF LEON
      %li
        %strong STAIRWAY TO HEAVEN
        %span LED ZEPPELIN

  .span-9.last
    %ul.setlist
      %li
        %strong TIMES LIKE THESE
        %span FOO FIGHTERS
      %li
        %strong TIME
        %span PINK FLOYD
      %li
        %strong LIVING ON A PRAYER
        %span BON JOVI
      %li
        %strong YOU GIVE LOVE A BAD NAME
        %span BON JOVI
      %li
        %strong FEELS LIKE THE FIRST TIME
        %span FOREIGNER
      %li
        %strong HIGHWAY STAR
        %span DEEP PURPLE
      %li
        %strong ST LOUIS
        %span EASYBEATS
      %li
        %strong ONE WORD
        %span BABY ANIMALS
      %li
        %strong SHE’S NOT THERE
        %span SANTANA
      %li
        %strong OYE COMO VA
        %span SANTANA
      %li
        %strong IT’S MY LIFE
        %span BON JOVI
      %li
        %strong HEROES
        %span DAVID BOWIE
      %li
        %strong ANOTHER BRICK IN THE WALL
        %span PINK FLOYD
      %li
        %strong STARLIGHT
        %span MUSE
      %li
        %strong ENTER SANDMAN
        %span METALLICA
      %li
        %strong MY SACRIFICE
        %span CREED
      %li
        %strong WE GOTTA GET OUTTA THIS PLACE
        %span ANIMALS
      %li
        %strong HIGHWAY TO HELL
        %span AC/DC
      %li
        %strong LONG WAY TO THE TOP
        %span AC/DC
