!!! xml
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  %url
    %loc http://crazyjudah.com/
    %priority 1.0
    %changefreq weekly
  %url
    %loc http://crazyjudah.com/demos
    %priority 0.8
    %changefreq monthly
  %url
    %loc http://crazyjudah.com/setlist
    %priority 0.8
    %changefreq monthly
  %url
    %loc http://crazyjudah.com/band
    %priority 0.8
    %changefreq monthly
